<div class="card-box" *ngIf="product" 
    [ngClass]="cardClasses()">

  <img width="300" *ngIf="isImgVisible(); else noImage"
        [src]="product.urlImg">

        <ng-template #noImage>
            <p><strong>Imagen no disponible</strong></p>
        </ng-template>

  <div class="card-title">
    {{ product.name }}
  </div>

  <div class="course-description">

    {{ product.variant.finalPrice | number:'1.0-0' }}

  </div>

  <button class="card-button" (click)="onSaveClicked(product)">Añadir</button>

</div>






