.card-box.beginner {
  transition-duration: 1s;
}
.card-box.beginner:hover {
  box-shadow: 0 1px 5px 0 rgba(34, 167, 240, 1), 0 2px 5px 0 rgba(34, 167, 240, 1), 0 4px 8px -1px rgba(34, 167, 240, 1);
}

.card-box.intermediate {
  transition-duration: 1s;
}
.card-box.intermediate:hover {
  box-shadow: 0 1px 10px 0 rgba(140, 20, 252, 1), 0 2px 10px 0 rgba(140, 20, 252, 1), 0 4px 8px -1px rgba(140, 20, 252, 1);
}

.card-box.advanced {
  transition-duration: 1s;
}
.card-box.advanced:hover {
  box-shadow: 0 3px 20px 0 rgba(255, 206, 0, 1.0), 0 3px 20px 0 rgba(255, 206, 0, 1.0), 0 4px 8px -1px rgba(255, 206, 0, 1.0);
}
