<div class="top-menu">

  <img class="logo"
       src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">
  
  <a href="">Realizado con Angular</a>
  <div class="top-menu-right">
  
    <a href="">Nombre: Allan Weisser</a>
    
    <a href=""> Fecha entrega 06/17/2020</a>
  
    <div class="date">  Fecha actual {{ courrentDate | date: 'MM/dd/yyyy' }}  </div>
  </div>

</div>
<br><br><br><br>
<div class="title">

  <h1>Lista de productos API Bsale</h1>

</div>

<!--**async pipes means an implicit way to create callback async functions in order to get data from an external source**-->
<!--**Creación de un pipe async dentro de un ciclo for**-->
<div class="courses" *ngIf = "products$ | async as products">


  <course-card *ngFor="let product of products.data" 
                (courseChanged)="save($event)"
                [product]="product">
  </course-card>

</div>







